.top-bar {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    height: 4vh;
    max-height: 4vh;
    min-height: 45px;
    overflow: hidden;
    padding-top: 5px;
    gap: 20px;
    background-color: var(--main-background-darker);
    padding-left: 10px;
}

.editor-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.management-top-bar {
    box-shadow: inset -7px 0px 11px 1px rgb(0, 0, 0, 0.18);
}

.top-bar-item {
    padding: 5px;
    margin-top: none;
}

.title-logo {
    margin-bottom: 6px;
}

.editor-top-bar-item {
    background-color: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 1.0);
    min-width: 50px;
    font-size: 13px;
    transition: background-color linear 0.2s;
}

.editor-top-bar-item:hover {
    cursor: pointer;
    background-color: var(--main-background-darkest);
    transition: background-color ease 0.2s;
}

.editor-top-bar-right-side {
    display: flex;
    font-size: 16px;
    gap: 10px;
}

.editor-top-bar-left-side {
    display: flex;
    gap: 20px;
}

.editor-top-bar-item .editor-top-bar-play-icon {
    transition: color 0.4s ease;
    display: inline;
    color: white;
}

.editor-top-bar-item:hover .editor-top-bar-play-icon {
    color: rgb(73, 203, 73);
}

.editor-top-bar-item .editor-top-bar-build-icon {
    transition: color 0.25s ease;
    display: inline;
    color: white;
}

.editor-top-bar-item:hover .editor-top-bar-build-icon {
    color: rgb(105, 183, 182);
}

.editor-top-bar-item .editor-top-bar-format-icon {
    transition: color 0.25s ease;
    display: inline;
    color: white;
}

.editor-top-bar-item:hover .editor-top-bar-format-icon {
    color: rgb(245, 211, 78);
}

.editor-top-bar-item .editor-top-bar-share-icon {
    transition: color 0.25s ease;
    display: inline;
    color: white;
}

.editor-top-bar-item:hover .editor-top-bar-share-icon {
    color: rgb(255, 130, 199);
}