.contracts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    min-width: 300px;
    padding: 15px;
    gap: 30px;
}

.contract-container {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: solid 1px black;
    box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.25);
}

.contract-header {
    display: flex;
    box-sizing: border-box;
    border-bottom: solid 1px black;
    background-color: var(--main-background-color);
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.contract-data {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--main-background-darker);
}

.delete-contract-button-container {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
    
}


.contract-created-at {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 12px;
    margin-bottom: 2px;
    color: #ddd;
}

.contract-created-at-label {
    color: #ddd;
}

.contract-created-at-date {
}


.contracts-subheading {
    margin-left: 15px;
    font-size: 26px;
    margin-top: 20px;
}

.contract-name {
    font-size: 13px;
}

.contract-version {
    padding: 5px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    font-size: 11px;
}

.contract-data-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.contract-params {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
}

.add-contract-warning {
    font-size: 14px;
    align-items: start;
    text-align: left;
    margin-left: 10px;
}

.contract-params-content {
    font-size: 12px;
    color: #ddd;
    display: flex;
    width: 100%;
    margin-left: 4px;
}

.contract-params-label {
    font-weight: 600;
    font-size: 12px;
}

.params-label-container {
    display: flex;
    flex-direction: column;
}
.add-contract-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 15px;
    min-width: 500px;
    border: solid 1px black;
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, 0.25);
    background-color: var(--main-background-darker);
}

.add-contract-content {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.add-contract-header {
    font-size: 16px;
    width: calc(100%);
    box-sizing: border-box;
    border-bottom: solid 1px black;
    background-color: var(--main-background-color);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
}

.add-contract-help-text {
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px;
}

.add-contract-selection-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-right: 10px;
}

.add-contract-button-container {
    margin-top: 20px;
    align-self: flex-end;
    padding: 10px;
}

@supports ( -moz-appearance:none ){
    .contracts-content {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color) #0000;
        scrollbar-gutter: stable;
    }
}
