.build-results-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(94vh - 45px); /* 45px is the height of the tabs */
}

.build-results-heading {
    font-size: 30px;
    padding: 10px;
    margin-left: 10px;
}

.summary {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}
.summary-entry {
    margin: 5px;
}


.warning-number {
    color: rgb(246, 246, 121);
}

.error-number {
    color: rgb(241, 81, 81);
}

.test-number {
    color: rgb(81, 137, 241);
}

.build-results-heading {
    font-size: 18px;
}

.build-results-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    padding-top: 0px;
    margin-left: 15px;
    margin-top: 15px;
}

.tests {
    border-left: 3px solid  rgb(81, 137, 241);
}
.warnings {
    border-left: 3px solid rgb(246, 246, 121);
}

.build-results-individual-result {
    padding: 5px;
    background-color: rgb(35, 35, 36);
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    font-family: monospace;
    text-align: left;
}

.warning-item {
    padding: 5px;
    padding-left: 15px;
}

.errors {
    border-left: 3px solid rgb(241, 81, 81);
}

.error-item {
    padding: 5px;
    padding-left: 15px;
}

.build-result-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.build-result-filename {
    padding: 5px;
    font-size: 20px;
    background-color: rgb(47, 41, 43);
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.management-tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    padding: 0px;
    scrollbar-color: rgba(18, 92, 195, 0.3) rgb(11, 36, 68, 0.7);
    scroll-padding: 0px;
    scroll-margin: 0px;
    height: 45px;
    min-height: 45px;
}

.management-tab {
    background-color: #161616;
    min-width: 100px;
    max-width: 150px;
    height: 100%;
    border-right: 1px solid rgb(18, 92, 195, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.management-tab:hover {
    background-color: #4317e422;
    cursor: pointer;
}

.highlight-focused-management-tab {
    background-color: #1e1e1e;
    border-bottom: 1px solid rgb(64, 140, 216);
}

.contracts-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(94vh - 45px); /* 45px is the height of the tabs */
}

.transact-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(94vh - 45px); /* 45px is the height of the tabs */
}

.wallets-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(94vh - 45px); /* 45px is the height of the tabs */
}

.wallet-utxos-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width:100%;
}

.wallet-utxos-address {
    padding: 5px;
    padding-left: 15px;
    background-color: rgb(45, 40, 40);
    width:100%;
    display: flex;
    font-size: 18px;
}

.utxo-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
    width: 100%;
    padding: 5px;
}

.wallet-utxos > div:nth-child(odd) {
    background-color: #5b5b5b;
}

.wallet-utxos > div:nth-child(even) {
    background-color: #4a4a4a;
}

.wallet-utxos {
    width: 100%;
}

.asset-container {
    display: flex;
    flex-direction: row;
    margin-left: 15px
}

.asset-label {
    margin-right: 5px;
}