@supports ( -moz-appearance:none ){
    .management-content-scroll-exclusion-wrapper {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color) #0000;
        scrollbar-gutter: stable;
    }
}

.management-section-shadow {
    box-shadow: inset 0px 0px 25px 5px rgb(0, 0, 0, 0.25);
}

.management-section-heading {
    font-size: 32px;
    font-weight: 400;
    width: 100%;
    display: flex;
}


.management-content-scroll-exclusion-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    max-height: calc(97vh - 60px);
    padding: 0;
    margin: 0;
    flex: 1;
}

.management-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--main-background-darkest);
    width: 100%;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}


.summary {
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    background-color: var(--main-background-darkest);
    border-radius: 4px;
    border: solid 1px black;
    margin-bottom: 10px;
}

.summary-entry {
    border-radius: 0px;
    min-width: 75px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.warning-number {
    color: rgb(246, 246, 121);
}

.error-number {
    color: rgb(241, 81, 81);
}

.test-number {
    color: rgb(81, 137, 241);
}

.build-results-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 45px;
    margin-bottom: 25px;
    border-radius: 4px;
    width: 90%;
}

.build-results-individual-result {
    padding: 5px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    font-family: monospace;
    text-align: left;
    background-color: var(--main-background-darkest);
    border-radius: 4px;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 0px rgb(0, 0, 0, 0.25);
}

.no-last-build-notice {
    margin-left: 10px;

}

.card {
    border-radius: 4px;
    font-size: 13.5px;
}

.tests-body-container {
    width: 100%;
}

.warning-item {
    padding: 5px;
    padding-left: 15px;
}

.error-item {
    padding: 5px;
    padding-left: 15px;
}

.build-result-heading {
    font-size: 24px;
}

.build-result-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 0px;
    border: solid 1px black;
    box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.25);
    background-color: var(--main-background-darker);
}

.build-result-filename {
    padding: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    border-bottom: solid 1px black;
    background-color: var(--main-background-color);
}

.management-tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0px;
    height: 35px;
    min-height: 35px;
    font-size: 13px;
}

@supports ( -moz-appearance:none ){
    .management-tab-container {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color) #0000;
        scrollbar-gutter: stable;
    }
}

.management-tab {
    min-width: 100px;
    max-width: 150px;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -3px 3px 0px rgba(0,0,0,0.38);
    background-color: var(--main-background-dark)
}

.management-tab-container .management-tab:first-child {
    border-left: 1px solid black;
}

.management-tab:not(.highlight-focused-management-tab):hover {
    background-color: var(--main-background-color)
}

.management-tab:hover {
    cursor: pointer;
}


.highlight-focused-management-tab {
    background-color: var(--main-background-darkest)
}