.utxo-card {
    min-width: 300px;
}

.utxo-loader {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.utxos {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: calc(100% - 8px);
    max-width: 650px;
    height: 230px;
    max-height: 230px;
    overflow-y:auto;
    overflow-x: hidden;
    background-color: #0002;
    border-radius: 8px;
}

.utxo {
    background-color: var(--main-background-darkest);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.utxo-header {
    border-radius: 8px;
    background-color: var(--main-background-darkest);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-top: 10px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 10px;
}

.header-shrinker {
    display: flex;
    align-self: flex-end;
    margin-bottom: -10px;
    padding: 5px;
    padding-left: 10px;
    z-index: 98;
}

.utxo-select-container {
    font-size: 12px;
    display: flex;
    justify-content: ce;
    align-items: center;
}

.utxo-select-container input {
    margin-bottom: 1px;
    margin-left: 5px;
}

.asset {
    padding: 5px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 12px;
    
    border-radius: 4px;
}

.datum-indicator {
    font-size: 12px;
    text-decoration: underline;
}
.script-ref {
    margin-right: 20px;
}

.assets-header {
    font-size: 14px;
    margin-left: 20px;
}

.no-unspent-outputs {
    font-size: 13px;
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.assets-container {
    width: 90%;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 10px;
    align-self: center;
    gap: 2px;
    display: flex;
    flex-direction: column;
}
.utxos-heading {
    font-size: 18px;
}

.assets-container .asset:nth-child(even) {
    background-color: var(--alternate-color-even);
}

.assets-container .asset:nth-child(odd) {
    background-color: var(--alternate-color-odd);
}


.no-datum-indicator {
    font-size: 12px;
}

.datum-and-script-ref {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 13px;
}

@supports ( -moz-appearance:none ){
    .utxos {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color) #0000;
        scrollbar-gutter: stable;
    }
}