  .setting {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .settings-content {
    gap: 0px;
  }

  .settings {
    gap: 10px;
    width: 100%;
  }

  .settings-section {
    display:flex;
    flex-direction: column;
    min-width: 500px;
    box-sizing: border-box;
    background-color: var(--main-background-darker);
    border: solid 1px black;
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, 0.25);
  }

  .settings-section-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  .settings-section-header {
    font-size: 24px;
    padding: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    border-bottom: solid 1px black;
    background-color: var(--main-background-color);
  }

  .settings-subsection {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .settings-form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .settings-warning {
    font-size: 14px;
    color: orange;
  }

  .settings-error {
    color: rgb(255, 113, 113);
    font-size: 14px;
  }


  .lds-ring { /* https://loading.io/css/ */
    color: #eaeaea
  }
  .lds-ring,
  .lds-ring div {
    box-sizing: border-box;
    margin-left: 10px;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 2%;
    border: 2px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }