.wallets-heading {
    width: 100%;
    justify-content: space-between;
    max-width: 710px;
}

.wallet-buttons {
    align-self: flex-end;
    display: flex;
    gap: 15px;
    padding: 5px;
}

.wallet-container {
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    border: 1px solid black;
    background-color: var(--main-background-darker);
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, 0.25);
    max-width: 700px;
    min-width: 400px;
}

.wallet-address {
    width: 100%;
    background-color: var(--main-background-color);
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
}

.wallet-data {
    display: flex;
    width: 100%;
    padding: 10px;
}

.wallet-info {
    flex-basis: 50%;
}

.wallet-utxos-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 5px;
    align-items: start;
    margin-right: 20px;
}

.wallet-card-label {
    font-size: 16px;
    font-weight: 600;
}

.wallet-card-value {
    font-size: 14px;
}

.wallet-info-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    border-radius: 6px;
    margin-right: 20px;
    height: 200px;
    padding: 10px;
}