#root {
  margin: 0 auto;
  text-align: center;
}

body {
  overflow-y: hidden;
}

.main-layout-container {
  display: flex;
  flex-direction: column; 
  border: solid 1px black;
  overflow: hidden;
}

.editor-and-management-view-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 22, 22);
  width: 100%;
  max-width: 100%;
}

.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60vw;
  flex: 1;
}

.editor-content-container {
  display: flex;
  flex-direction: row;
}

.editor-and-tabs-container {
  max-width: 100%;
  min-width: 50vw;
  max-height: 94vh;
  display: flex;
  flex-direction: column;
}

.management-panel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40vw;
  flex: 1;
  word-wrap: break-word;
  border-left: 1px solid black;
}

.tooltip {
  background-color: rgba(38, 38, 38, 0.95);
  border: solid 1px rgb(94, 94, 94);
  color: #fff;
  padding: 8px 10px;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  white-space: nowrap;
  pointer-events: none; 
}

.context-menu {
  min-width: 200px;
  background-color: rgba(38, 38, 38, 0.95);
  border: solid 1px rgb(94, 94, 94);
  color: #fff;
  z-index: 999;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.context-menu-item {
  display:flex;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.context-menu-item:hover {
  background-color: rgb(70, 70, 70);
}

.hidden {
  display: none;
}

.unselectable {
  user-select: none;
}

.disabled {
  opacity: 0.5;
  
}

.disabled:hover {
  background-color: #00000000;
  cursor: default;
}