:root {
  --main-background-color: #34517d;
  --main-background-dark: #273d5e;
  --main-background-darker: #1e2e46;
  --main-background-darkest:rgb(20, 31, 47);
  --main-background-blackened:rgb(12, 18, 28);
  --button-primary: #12784d;
  --button-primary-hover: #1ba96e;
  --button-primary-active: #06995c;
  --button-danger: rgb(155, 48, 48);
  --button-danger-hover: rgb(184, 58, 58);
  --button-danger-active: rgb(185, 41, 41);
  --scrollbar-color: rgba(205, 210, 234, 0.509);
  --alternate-color-odd: rgb(67, 62, 111);
  --alternate-color-even: rgb(105, 53, 88);
  --popup-background: #131a2e;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  color: #fafafa;
}

body {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--main-background-color);
  /*background-image: linear-gradient(270deg, #5a173c -50%, #543e77 -25%, #145787 100%);*/
  /* background-image: linear-gradient(225deg, #5a173c 0%, #331e43 45%, #154160 100%); */
}

.data-popup {
  background-color: var(--popup-background);
  border: 1px solid black;
  text-align: left;
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.25);
}
.flex-row {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.lr {
  justify-content: start;
  align-items: center;
}

.main-layout-container {
  display: flex;
  flex-direction: column; 
  max-height: 100%;
  height: 100%;
}

.editor-and-management-view-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.editor-container {
  /*background-color: rgb(83, 76, 165);*/
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60vw;
  height: 100%;
  max-height: 100%;
  flex: 1;
}

.editor-content-container {
  display: flex;
  flex-direction: row;
  max-height: 100%;
}

.editor-and-tabs-container {
  max-width: 100%;
  min-width: 50vw;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.management-panel-container {
  /*background-color: rgb(101, 101, 101);*/
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  max-height: 100%;
  height: 100%;
  flex: 1;
  word-wrap: break-word;
}

.tooltip {
  background-color: rgba(38, 38, 38, 0.95);
  border: solid 1px rgb(94, 94, 94);
  color: #fff;
  padding: 8px 10px;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  white-space: nowrap;
  pointer-events: none; 
}

.context-menu {
  min-width: 200px;
  background-color: rgba(38, 38, 38, 0.95);
  border: solid 1px rgb(94, 94, 94);
  color: #fff;
  z-index: 999;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.context-menu-item {
  display:flex;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.context-menu-item:hover {
  background-color: rgb(70, 70, 70);
}

.hidden {
  display: none;
}

.unselectable {
  user-select: none;
}

.disabled {
  opacity: 0.2;  
  cursor: not-allowed !important;
}

button.disabled {
  background-color: rgb(0, 0, 0);
}

button.disabled:hover {
  background-color: rgb(0, 0, 0);
}

.disabled:hover {
  background-color: #00000099;
  cursor: default;
}

.copy-widget {
  margin-left: 10px;
  padding: 2px;
}

.select {
  border-radius: 0px;
  border: none;
  
  border-bottom: solid 1px #ffffff55;
  min-width: 100px;
  background-color: var(--main-background-darkest);
  padding: 5px;
}

.text-input {
  font-size: 15px;
  background-color: var(--main-background-darkest);
  height: 17px;
  border: none;
  outline: none;
  border-bottom: solid 1px #ffffff55;
  padding: 2px;
}


.input-label {
  font-size: 12px;
  margin-bottom: 4px;
}

.button {
  font-size: 16px;
  outline: none;
  border: solid 1px black;
  padding: 5px;
  background-color: var(--button-primary);
}

.button:hover {
  cursor: pointer;
  background-color: var(--button-primary-hover);
}

.button:active {
  cursor: pointer;
  background-color: var(--button-primary-active);
}

.danger-button {
  background-color: var(--button-danger);
}

.danger-button:hover {
  background-color: var(--button-danger-hover);
}

.danger-button:active {
  background-color: var(--button-danger-active);
}

@supports ( -moz-appearance:none ){
  .file-manager-file-list {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-color) #0000;
      scrollbar-gutter: stable;
  }
}

@supports ( -moz-appearance:none ){
  .data-popup{
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-color) #0000;
      scrollbar-gutter: stable;
  }
}


::-webkit-scrollbar-track {
  background-color: #00000000 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff22 !important;
}

::-webkit-scrollbar-corner  {

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}