#root {
  margin: 0 auto;
  text-align: center;
}

.main-layout-container {
  display: flex;
  flex-direction: column; 
  border: solid 1px black;
}

.editor-and-management-view-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 22, 22);
  width: 100%;
}

.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.management-panel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: auto;
  word-wrap: break-word;
}

.hidden {
  display: none;
}