.monaco-editor {
    --vscode-editorGutter-background: var(--main-background-darkest) !important;
    --vscode-editor-background: #00000000 !important;
}

.monaco-mouse-cursor-text::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 0;
    width: calc(100% - 8px);
    /* Width of the scrollbar */
    bottom: 0;
    pointer-events: none;
    /* Allows clicks to pass through to the scrollbar */
    z-index: -100;
    
    box-shadow: inset -15px -25px 25px 1px rgb(0, 0, 0, 0.18);
    background-color:var(--main-background-darkest)
}


.margin-view-overlays {
    box-shadow: inset 15px 0px 25px 1px rgb(0, 0, 0, 0.18);
}

.scrollbar {
    width: 8px !important;
}

.slider {
    width: 8px !important;
    background: var(--scrollbar-color);
}

.decorationsOverviewRuler {
    width: 8px !important;
    z-index: -99999;
}


.editor-tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0px;
    background-color: #00000000;
    min-height: 35px;
    font-size: 13px;
}

@supports (-moz-appearance:none) {
    .editor-tab-container {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color) #0000;
        scrollbar-gutter: stable;
    }
}

.editor-tab {
    min-width: 120px;
    max-width: 120px;
    border-right: 1px solid black;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    box-shadow: inset 0px -3px 3px 0px rgba(0, 0, 0, 0.38);
    background-color: var(--main-background-dark);
}

.editor-tab-container .editor-tab:first-child {
    border-left: 1px solid black;
}

.highlight-open-focused-tab {
    background-color: var(--main-background-darkest);
}

.editor-tab:not(.highlight-open-focused-tab):hover {
    background-color: var(--main-background-color);
}

.editor-tab:hover {
    cursor: pointer;
}

.editor-tab-label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.file-manager-container {
    display: flex;
    flex-direction: column;
    min-width: 10vw;
    height: calc(97vh - 26px);
}

.file-manager-header {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.file-manager-file-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
    border-right: 1px solid black;
}

.file-entry-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--main-background-darker);
    flex-grow: 1;
    box-shadow: inset -4px 0px 25px 1px rgba(0, 0, 0, 0.18);
}

@supports (-moz-appearance:none) {
    .file-manager-file-list {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color) #0000;
        scrollbar-gutter: stable;
    }
}

.file-manager-file-entry {
    width: 100%;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    padding-bottom: 2px;
    box-sizing: border-box;
}

.file-manager-file-entry:hover {
    cursor: pointer;
}

.file-manager-file-entry:not(.highlight-open-focused-file):hover {
    background-color: #ffffff22;
}

.management-tab:hover {
    cursor: pointer;
}

.filename-start {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filename-end {
    flex-shrink: 0;
    white-space: nowrap;
}

.highlight-open-file {
    font-style: italic
}

.highlight-open-focused-file {
    background-color: #ffffff44;
}

.add-file-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-file-icon:hover {
    color: rgba(255, 255, 255, 0.471);
    cursor: pointer;
}

.add-file-icon-plus {
    color: rgb(117, 221, 117);
}

.file-rename-entry {
    border: solid 1px rgba(255, 255, 255, 0.26);
    background-color: #00000088;
}

.file-rename-input {
    border: none;
    font-size: 16px;
    background-color: #00000000;
    width: 100%;
}

.file-rename-input:hover {
    border: none;
}

.file-rename-input:focus {
    border: none;
    outline: none;
}